<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs1635.classme"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name="com.cs1635.classme.StreamActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cs1635.classme.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs1635.classme.SinglePostActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.cs1635.classme.NewPost"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_new_post" >
        </activity>
        <activity
            android:name="com.cs1635.classme.ProfileActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cs1635.classme.ClassSearchActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cs1635.classme.SearchActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_search"
			android:parentActivityName="com.cs1635.classme.HomeActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.cs1635.classme.ChatActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.cs1635.classme.HomeActivity" />
		<activity
			android:name="com.cs1635.classme.HomeActivity"
			android:configChanges="orientation|screenSize"/>
		<activity
			android:name="com.cs1635.classme.CourseStreamActivity"
			android:configChanges="orientation|screenSize"
			android:parentActivityName="com.cs1635.classme.HomeActivity" />
        <activity
            android:name="com.cs1635.classme.NewCourse"
			android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_new_course" >
        </activity>
        <activity
            android:name="com.cs1635.classme.Members"
            android:label="@string/title_activity_members"
			android:configChanges="orientation|screenSize"
			android:parentActivityName="com.cs1635.classme.CourseStreamActivity">
        </activity>
        <activity
            android:name="com.cs1635.classme.ClassView"
			android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_class_view" >
        </activity>
    </application>

</manifest>
